bcrypt==4.0.1
blinker==1.6.2
click==8.1.7
colorama==0.4.6
dnspython==2.4.2
email-validator==2.0.0.post2
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Login @ git+https://github.com/maxcountryman/flask-login.git@9862fb0f09cafd3112ab39cd8bdbcce622151292
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.0
idna==3.4
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.3
Pillow==10.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
SQLAlchemy==2.0.22
svgwrite==1.4.3
Tree==0.2.4
typing_extensions==4.8.0
Werkzeug==2.3.7
WTForms==3.0.1
